{% load i18n %}
{% load processlib_tags %}
<div class="process-list-item">
    <h2><a href="{% url detail_view_name process.id %}?return_to={{ request.path }}">{{ process|capfirst }}</a></h2>
    <div class="row">
        <div class="col-md-4">
            <p>
                {{ process.full.description }}
            </p>
        </div>
        <div class="col-md-6 col-lg-4">
            <dl class="dl-horizontal">
                <dt>{% trans "Status" %}</dt>
                <dd>{{ process.get_status_display }}</dd>
                <dt>{% trans "Started at" %}</dt>
                <dd>{{ process.started_at|date:"SHORT_DATETIME_FORMAT" }}</dd>
                {% if process.finished_at %}
                    <dt>{% trans "Finished at" %}</dt>
                    <dd>{{ process.finished_at|date:"SHORT_DATETIME_FORMAT" }}</dd>
                {% endif %}
            </dl>
        </div>
        <div class="col-md-4">
            {% include "processlib/process_to_do_partial.html" %}
        </div>
    </div>
</div>
