<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Processes</h1>
<ul>
{% for process in process_list %}
    <li>
        <a href="{% url detail_view_name process.pk %}">{{ process }}</a>
    </li>
{% endfor %}
</ul>

<h2>Flows</h2>
<ul>
{% for label, flow in flows %}
    <li>
        <form action="{% url "process-start" label %}" method="post">
            {% csrf_token %}
            <input type="submit" name="start" value="Start {{ flow }}">
        </form>
    </li>
{% endfor %}
</ul>
</body>
</html>
