{% extends "processlib/layout.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}Cancel {{ process }}{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="process-cancel">
        {% block headline %}
            <h1>{% blocktrans %}Cancel {{ process }}{% endblocktrans %}</h1>
        {% endblock %}

        {% block details %}
            <div class="row process-detail">
                <div class="col-xs-12">
                    {% include "processlib/process_details_partial.html" %}
                </div>
            </div>
        {% endblock %}

        {% block form  %}
            {% if process.can_cancel %}
                <form method="post">
                    {% csrf_token %}
                    <a class="btn btn-default" href="{% url 'processlib:process-detail' process.id %}">{% trans "Back" %}</a>
                    <input type="submit" name="cancel" value="{% trans "Cancel process" %}" class="btn btn-danger">
                </form>
            {% else %}
                {% trans "This process can not be canceled or you do not have the permissions to do so." %}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
