{% extends "processlib/layout.html" %}
{% load i18n %}

{% block title %}{{ process }}{% endblock %}

{% block content %}
    <div class="process-detail">
        <h1>{{ process }}</h1>

        <div class="pull-right">
            {% if process.can_cancel %}
                <a class="btn btn-danger" href="{% url 'processlib:process-cancel' process.pk %}">
                    {% blocktrans with process=process %}Cancel {{ process }}{% endblocktrans %}
                </a>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-xs-12">
                <dl class="dl-horizontal">
                    <dt>{% trans "Description" %}</dt>
                    <dd>{{ process.description }}</dd>
                    <dt>{% trans "Status" %}</dt>
                    <dd>{{ process.get_status_display }}</dd>
                    <dt>{% trans "Started at" %}</dt>
                    <dd>{{ process.started_at }}</dd>
                    {% if process.finished_at %}
                        <dt>{% trans "Finished at" %}</dt>
                        <dd>{{ process.finished_at }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>{% trans "History" %}</h2>
                <ul>
                    {% for activity in activities %}
                        <li>
                            {% with instance=activity.instance %}
                            {{ activity }}
                            ({{ instance.status }}), instantiated {{ instance.instantiated_at }}, started {{ instance.started_at }}, finished {{ instance.finished_at }}
                                assigned user: {{ instance.assigned_user }}, assigned group: {{ instance.assigned_group }}
                            {% if not instance.has_active_successors and process.status != process.STATUS_FINISHED and process.status != process.STATUS_CANCELED %}
                                {% if instance.status == instance.STATUS_FINISHED %}
                                    <form method="post" action="{% url "processlib:activity-undo" instance.process.flow_label instance.pk %}">
                                        {% csrf_token %}
                                        <input type="submit" value="undo" class="btn btn-warning">
                                    </form>
                                {% endif %}
                                {% if instance.status == instance.STATUS_INSTANTIATED or instance.status == instance.STATUS_ERROR %}
                                    <form method="post" action="{% url "processlib:activity-cancel" instance.process.flow_label instance.pk %}">
                                        {% csrf_token %}
                                        <input type="submit" value="cancel" class="btn btn-danger">
                                    </form>
                                {% endif %}
                            {% endif %}
                            {% if instance.status == instance.STATUS_ERROR or instance.status == instance.STATUS_INSTANTIATED and not instance.activity.has_view %}
                                <form method="post" action="{% url "processlib:activity-retry" instance.process.flow_label instance.pk %}">
                                    {% csrf_token %}
                                    <input type="submit" value="retry" class="btn btn-success">
                                </form>
                            {% endif %}
                            {% endwith %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h2>{% trans "Current activities" %}</h2>
                {% for activity in current_activities %}
                    {% if activity.has_view %}
                        <a class="btn btn-primary" href="{% url "processlib:process-activity" activity.flow.label activity.instance.pk %}">
                            {{ activity }}
                        </a>
                    {% else %}
                        <span>{{ activity }}</span>
                    {% endif %}
                {% empty %}
                    {% trans "There are no current activities in this process." %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% block extra_detail %}
        {% if extra_detail_template_name %}
        {% include extra_detail_template_name %}
        {% endif %}
    {% endblock %}
{% endblock %}
