{% extends "processlib/layout.html" %}
{% load i18n %}
{% block content %}
    <h1>{{ activity }}</h1>
    {% if activity.process.id %}
        <a href="{% url 'processlib:process-detail' activity.process.id %}">{{ activity.process }}</a>
    {% endif %}
    <form id="activity-{{ activity.name }}-form" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form }}
        <hr>

        <input type="submit" value="{% trans "Finish" %}" class="btn btn-primary"/>
    </form>
{% endblock %}
